<table class='players'>
  <thead>
    <tr>
      <th class='left'>Time</th>
      <th class='left'>Shooter</th>
      <th class='left'>Target</th>
      <th class='left'>Actual Hit</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    {{#each shots}}
      <tr>
        <td>{{time}}</td>
        <td>{{shooter}}</td>
        <td>{{target}}</td>
        <td>{{actualHit}}</td>
        <td>{{points}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<ul class="pages">
  {{#if needsFirstPage}}
  <li class='first'><a href='/shots?page={{firstPage}}'>{{firstPage}}</a></li>
  {{/if}}
  {{#if needsPrevPage}}
  <li><a href='/shots?page={{prevPage}}'>{{prevPage}}</a></li>
  {{/if}}
  <li><span>{{currentPage}}</span></li>
  {{#if needsNextPage}}
  <li><a href='/shots?page={{nextPage}}'>{{nextPage}}</a></li>
  {{/if}}
  {{#if needsLastPage}}
  <li class='last'><a href='/shots?page={{lastPage}}'>{{lastPage}}</a></li>
  {{/if}}
</ul>
